*{
  padding: 0;
  margin: 0;
}
.clear{
  clear: both;
}
/* Nav Component */
nav{
  width: 1140px;
  height: 130px;
  margin: 0 auto;
  margin-bottom: 20px;
}
nav ul{
  list-style: none;
  width: 1140px;
  height: 100px;
  margin: 10px 0;
}
nav ul li{
  display: inline-block;
  height: 50px;
  width: 100px;
  padding: 5px;
  margin: 0 20px;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}
nav .logo{
  width: 150px;
  height: 100px;
  background-image: url("./images/shopeco-logo.png");
  background-size: cover;
}
a{
  text-decoration: none;
  color: #0184af;
}
nav ul li.cart{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eceff6;
}
nav ul li.cart .num-item{

}

/* Shop Component */
.shop-container, .cart-container{
  width: 1140px;
  margin: 0 auto;
}
.filters{
  width: 250px;
  float: left;
}
.controls{
  width: 850px;
  height: 100px;
  float: left;
}
.product-list{
  width: 850px;
  float: left;
}
.product{
  width: 23%;
  height: 350px;
  margin: 1%;
  float: left;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  position: relative;
  box-sizing: border-box;
}
.product .product-image{
  width: 100%;
  height: 245px;
  position: absolute;
  top: 0;
  left: 0;
}
.product .product-name{
  width: 100%;
  height: 70px;
  position: absolute;
  left: 0;
  bottom: 35px;
}
.product .product-name h4{
  line-height: 18px;
  padding: 5px;
  color: #0184af;
}
.add-to-cart{
  width: 100%;
  height: 34px;
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  background-color: #add036;
  line-height: 35px;
  text-align: center;
  z-index: 10;
  cursor: pointer;
}

.add-to-cart:hover{
  opacity: 0.7;
}

.product-content{
  margin: 0 auto;
  width: 1140px;
  height: 550px;
  display: grid;
  grid-template-columns: 60% 40%;
}
.thumbnails{
  display: grid;
  grid-template-columns: 25% 70%;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 30px 30px;
}
.thumbnails .thumbnail{
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.thumbnails .thumbnail:hover{
  border: 1px solid #add036;
}
.thumbnails .thumbnail.active{
  border: 1px solid #add036;
}
.thumbnails .image{
  grid-row: 1 / span 3;
  grid-column: 2 / span 1;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-detail{
  padding-left: 30px;
}

.product-detail h4{
  font-size: 35px;
  color: #0184af;
}
.product-detail p{
  font-size: 20px;
  padding: 20px 5px;
  color: #666;
}
.product-detail div.price{
  font-size: 35px;
  color: #fe4c50;
  padding-top: 60px;
  padding-bottom: 30px;
}

div.quantity{
  display: inline-block;
}
div.quantity div{
  display: inline-block;
  text-align: center;
}
div.quantity .input{
  width: 120px;
  height: 40px;
  border: 1px solid #666;
  border-radius: 2px;
  line-height: 40px;
  margin: 0px 20px;
}
div.quantity .input div{
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
div.quantity .input div:first-child{
  cursor: pointer;
}
div.quantity .input div:last-child{
  cursor: pointer;
}
.addToCart{
  display: inline-block;
  width: 130px;
  height: 40px;
  line-height: 40px;
  margin: 0px 20px;
  background-color: #add036;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}
.addToCart:hover{
  opacity: 0.8;
  transition: 0.4s linear;
}
/* Cart Component */
.cart-container .selected-products{
  width: 850px;
  margin: 0 10px;
}
.selected-products .product{
  width: 100%;
  height: 150px;
  margin: 10px 0;
  border-bottom: #dbd6d6;
  border-right: 1px solid #809fa9;
}
.selected-products .product .image{
  width: 150px;
  height: 150px;
  float: left;
}
.selected-products .product .infor{
  float: left;
  width: 470px;
  height: 150px;
}
.selected-products .product .infor h4{
  margin: 20px 0;
  font-size: 20px;
}
.selected-products .product .infor .delete{
  font-style: italic;
  color: #809fa9;
  cursor: pointer;
}
.selected-products .product .total-price{
  padding-top: 10px;
  float: left;
  height: 150px;
  box-sizing: border-box;
}
.selected-products .product .total-price h4{
  padding: 15px 0px;
  line-height: 40px;
}

.cart-container .total{
  width: 250px;
  margin: 0 10px;
  float: left;
}

.cart-container .total div{
  height: 40px;
  margin: 10px 0;
  line-height: 40px;
  border-bottom: 1px solid #dbd6d6;
}
.cart-container .total div input{
  height: 40px;
  box-sizing: border-box;
}
.cart-container .total div button{
  height: 40px;
  width: 75px;
  border: none;
  box-sizing: border-box;
  background: #fdd835;
  color: #809fa9;
  cursor: pointer;
}
.cart-container .total div:last-child{
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
  background-color: #fe4c50;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.cart-container .total div:last-child:hover{
  background-color: #fc0509;
}
.cart-container .no-item{
  text-align: center;
  margin-top: 100px;
  color: #666;
}
.cart-container .continue-shopping{
  text-align: center;
  width: 200px;
  margin: 30px auto;
}
.cart-container .continue-shopping i{
  display: block;
  font-size: 100px;
  color: #809fa9;
  margin: 30px;
}
.cart-container .continue-shopping button{
  display: block;
  margin: 30px auto;
  width: 230px;
  height: 45px;
  font-size: 20px;
  color: #809fa9;
  background-color: #fdd835;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

